{% extends 'main.html' %}
{% block content %}

{% load static %}
    <div class='carousel carousel-animated carousel-animate-slide'>
        <div class='carousel-container'>
            <div class='carousel-item has-background is-active'>
                <img class="is-background" src="{% static 'slider/1.png' %}" alt="" width="800"
                    height="200" />
                <div class="title">Pertanian</div>
            </div>
            <div class='carousel-item has-background'>
                <img class="is-background" src="{% static 'slider/2.jpeg' %}" alt="" width="800" height="200" />
                <div class="title">Pertanian</div>
            </div>
            <div class='carousel-item has-background'>
                <img class="is-background" src="{% static 'slider/3.jpeg' %}" alt="" width="800" height="200" />
                <div class="title">Pertanian</div>
            </div>
        </div>
        <div class="carousel-navigation is-overlay">
            <div class="carousel-nav-left">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </div>
            <div class="carousel-nav-right">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <section class="section" id="#about">
        <div class="container">
            <h1 class="title">About</h1>
            <h2 class="subtitle">
                this website used to analytics data pertanian that hopefully could help goverment choose the right plant in the futureThis website used to analytics pertanian to  
            </h2>
        </div>
    </section>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Deep Learning
                </h1>
                <h2 class="subtitle">
                    We used Deep Learning Algoritm to calculate data and get the meaning in graphic chart
                </h2>
            </div>
        </div>
    </section> 
        <section class="section" id="#team">
            <div class="container">
                <h1 class="title">Team</h1>
                <h2 class="subtitle">
                    Here's our amazing team
                    <div class="tile is-vertical is-12">
                        <div class="tile">
                            <div class="tile is-parent">
                                <article class="tile is-child notification">
                                    <p class="title">Bill Tanthowi Jauhari</p>
                                    <p class="subtitle">Mahasiswa</p>
                                    <figure class="image">
                                        <img src="{% static 'photo/bill.jpg' %}"/>
                                    </figure>
                                </article>
                            </div> 
                            <div class="tile is-parent">
                                <article class="tile is-child notification">
                                    <p class="title">Fachrul Kurniawan M.MT</p>
                                    <p class="subtitle">Dosen Pembimbing I</p>
                                    <figure class="image">
                                        <img src="{% static 'photo/fachrul-kurniawan.jpg' %}"/>
                                    </figure>
                                </article>
                            </div> 
                            <div class="tile is-parent">
                                <article class="tile is-child notification">
                                    <p class="title">Fatchurrohman M.Kom</p>
                                    <p class="subtitle">Dosen Pembimbing II</p>
                                    <figure class="image">
                                        <img src="{% static 'photo/fatchurrohman.jpg' %}"/>
                                    </figure>
                                </article>
                            </div>
                        </div> 
                    </div> 
                </h2>
            </div>
        </section>
    <section class="hero is-danger">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Data Optimizing
                </h1>
                <h2 class="subtitle">
                    We use Moora Algoritm to help people choose the best plant in the future
                </h2>
            </div>
        </div>
    </section>
    <section class="hero is-warning" id="#address">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Address</h1>
                <div class="tile is-ancestor">
                    <div class="tile is-vertical">
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child notification is-warning">
                                    <p><strong>Street : </strong>Jln Mertojoyo Blok K 12</p>
                                    <p>Merjosari, Lowokwaru</p>
                                    <p>Malang, Indonesia</p> 
                                    <p><strong>Postal Code</strong> 65144</p>                                    
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child notification ">
                                    <figure class="image">
                                        <img src="https://maps.googleapis.com/maps/api/staticmap?center=Malang,Indonesia&zoom=13&size=600x300&maptype=roadmap&markers=color:blue&key=AIzaSyBCeBmAFMOjkyxadn9NIWayXJXjGjvU_44">
                                    </figure>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}